.header{
    color: #000000;
    font-size: 1.2em;
    text-align: center;
    
    
}
img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    padding: 10px ;
    border: 20px solid black;
}
.song{
  background-color: #FF8800;
}
.images{
    max-width: 10%;
    margin-top: 0px;
}